<ion-header-bar class="bar-calm">
    <h1 class="title">tzyl</h1>
</ion-header-bar>
<ion-content>
    <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email address</span>
                <input type="email" name="email" ng-model="loginData.email" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" name="password" ng-model="loginData.password" required>
            </label>
            <span class="item">
                <button class="button button-block button-positive" type="submit">Login</button>
            </span>
        </div>
    </form>
    <p class="item">Don't have an account yet? <a ng-click="openSignup()">Create one here</a></p>
    <p class="item">Forgotten your password? <a ng-click="openReset()">Reset here</a></p>
    <div class="spinner" ng-if="loading">
        <ion-spinner icon="android"></ion-spinner>
    </div>
    <div class="padding" ng-show="loginFailed">
        <p ng-show="loginForm.email.$error.required">* Email address is required</p>
        <p ng-show="loginForm.email.$invalid">* Invalid email address format</p>
        <!-- <p ng-show="loginForm.username.$error.minlength">* Username must be longer than 5 characters</p> -->
        <p ng-show="loginForm.password.$error.required">* Password is required</p>
        <!-- <p ng-show="loginForm.password.$error.minlength">* Password must be longer than 6 characters</p> -->
    </div>
</ion-content>
