<ion-modal-view>
    <ion-header-bar class="bar-energized">
        <h1 class="title">Reset password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeReset()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <p>Fill in the email address you registered with your account and we'll send you an email to reset your password.</p>
        </div>
        <form name="resetForm" ng-submit="resetForm.$valid && sendResetEmail()" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email address</span>
                    <input type="email" name="email" ng-model="resetData.email" required>
                </label>
                <span class="item">
                    <button class="button button-block button-balanced" type="submit">Reset password</button>
                </span>
            </div>
        </form>
        <div class="spinner" ng-if="loading">
            <ion-spinner icon="android"></ion-spinner>
        </div>
        <div class="padding" ng-show="resetFailed">
            <p ng-show="resetForm.email.$error.required">* Email address is required</p>
            <p ng-show="resetForm.email.$invalid">* Invalid email address format</p>
        </div>
    </ion-content>
</ion-modal-view>
